@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');


.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:40vw;
  min-height:400px;
  max-height:500px;
  min-width:400px;
  color: white;
  font-family:  "Raleway", sans-serif
} 

.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}

.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
  backface-visibility: hidden;
  transform: translateZ(0); backface-visibility: hidden;
  transform: translateZ(0);
  background:#1B2030 url("images/blueBackground.jfif") 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}

.markerImage{
  width: 30px;
}


.info{
  width:100%;
  padding:15% 10% 0 5%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.info > h1 {
  margin:1px;
}

.info > h4{
  margin: 7px;
}

@keyframes grow{
  0% { transform: scale(1) translateY(-200px)}
  90% { transform: scale(2) translateY(-900px)}
}
.content{  
  padding:2% 10%;
  text-align:justify;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div[class*=box] {
  height: 33.33%;
  width: 10%; 
  display:flex;
}

.box-2 {
   background-color: #0000ff;
   justify-content: center;
   border-radius: 5px;
   }

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  align-items: center;
}

.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
  align-items: center;
  justify-content: center;

}
.btn-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
  align-items: center;
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}

#map{
    height:735px;
    width: 1200px;
    background-color: palegoldenrod;
  }

#filter{
  border: 1px;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  position: absolute; 
  top: 5px; 
  right: 10px;
  height: 725px;
  padding-left: 10px;

}

#filter > h2,select,p,input, button{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-color: black;

}

#filter > button{
  background-color: white;
}
